@import "tailwindcss";

.stroke-text {
  color: black;
  background-color: black;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.scroll-loop {
  display: flex;
  animation: scroll 30s linear infinite;
}

html,
body {
  background-color: #121212;
  margin: 0;
  padding: 0;

  /* iOS safe area support */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}