@import "tailwindcss";
.stroke-text {
  color: black;
  background-color: black;
  text-shadow: -2px -2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
}

.scroll-loop {
  display: flex;
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}